<!-- R Shiny
# https://github.com/rstudio/shiny-examples/blob/master/048-including-html-text-and-markdown-files/include.html
# In R Shiny use:
# includeHTML("include.html")
-->

<footer class="footer">
    Copyright &copy; 2023 <a href="https://www.jaeger-ordination.com/">Tarkan Jäger</a> <p>WITHOUT WARRANTY OF ANYKIND - Last updated: 28.02.2024</p>
</footer>
